h1 {
    color:brown;
    font-size: 40px;
}
.aboutme_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-height: 400px;
    max-width: 300px;
    margin: auto;
    text-align: center;
    display:flex;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #000;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    align-content:flex-end;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .contact_info{
    background-color: #000;
    font-size: 16px;
  }