h1 {
    color:#121212;
    font-size: 40px;
}
.container {
  width: 1142px;
  margin: 0 auto;
}
.form_label{
  font-size: 20px;
  color: #121212;
  font-weight:700;
}

.input_field{
  background-color: #121212;
  color:#fff;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: none;
}

.btn{
  background-color:#121212;
  color:#fff;
  font-weight:700;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: none;
}
.delete_btn{
  background-color:#fff;
  color:#121212;
  font-weight:700;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: none;
  z-index: 2;

}
body {
  background-color: rgb(187, 185, 173);
}
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.item_link:hover,
.item_link:hover .item_date {
  text-decoration: none;
  color: #FFF;
}

.item_link:hover .item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.item_title {
  min-height: 87px;
  margin: 0 0 5px;

  overflow: hidden;

  z-index: 3;
  position: relative;
}

.name_title {
  font-weight: bold;
  font-size: 30px;
  color: #FFF;
}
.name_label {
  font-size: 15px;
  font-weight:300;
  color: #fff;
}
.item_date_box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.item:nth-child(2n) .item_bg {
  background-color: #3ecd5e;
}
.item:nth-child(3n) .item_bg {
  background-color: #e44002;
}
.item:nth-child(4n) .item_bg {
  background-color: #952aff;
}
.item:nth-child(5n) .item_bg {
  background-color: #cd3e94;
}
.item:nth-child(6n) .item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .item_link {
    padding: 22px 40px;
  }
  .item_date_box {
    font-size: 16px;
  }
}